<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Consultorio_Medico.Properties.Settings.Consultorio_MedicoConnectionString"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=&quot;Consultorio Medico&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>